MYSQL_ROOT_PASSWORD=my_password
MYSQL_USER=bloodstar_user
MYSQL_USER_PASSWORD=another_password

EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=465
EMAIL_USER=noreply@bloodstar.18m250.org
EMAIL_PASS=mail_password
EMAIL_FROM=no-reply@bloodstar.18m250.org