# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Tests
tests/api/.hurl-report/
playwright-report/
test-results/

# Other
node_modules/
*.d.ts
.htpasswd
.htaccess
dist/*.html
dist/*.css
dist/*.js
dist/*.js.LICENSE.txt
persistent/
.env

# MAC
.DS_Store

# AI
.claude