node_modules/
ftpinfo.json
*.d.ts
.htpasswd
.htaccess
bloodstar.xyz/dist/*.html
bloodstar.xyz/dist/*.css
bloodstar.xyz/dist/*.js
bloodstar.xyz/dist/fonts/
bloodstar.xyz/dist/*.js.LICENSE.txt
bloodstar.xyz/persistent/
bloodstar.xyz/.env
phpmyadmininfo
