/* fade opacity in */
.appear {
    animation: appearAnim 0.2s ease-out 1;
    -webkit-animation: appearAnim 0.2s ease-out 1;
}
@keyframes appearAnim {
    from {
        opacity: 1%;
    }
}
@-webkit-keyframes appearAnim {
    from { 
        opacity: 1%;
    }
}

/* fade opacity out */
.disappear {
    animation: disappearAnim 0.2s linear 1;
    -webkit-animation: disappearAnim 0.2s linear 1;
}
@keyframes disappearAnim {
    to {
        opacity: 1%;
    }
}
@-webkit-keyframes disappearAnim {
    to { 
        opacity: 1%;
    }
}

.transitionMaxHeight {
    transition: max-height 0.2s ease-in-out;
    overflow-y: hidden;
}