#characterImagePreview {
    position:relative;
    width: 200px;
    height: 200px;
}
#characterImagePreview > * {
    position:absolute;
}
#characterImagePreviewSpinner {
    top: 25px;
    left: 50px;
    bottom: 75px;
    right: 50px;
    border: 6px solid #666;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2.618s linear infinite;
    -webkit-animation: spin 2.618s linear infinite;
}
.curvedCharacterNameSvg {
    pointer-events: none;
    font-size:24px;
    width:200px;
    height:200px;
}
#curvedCharacterNameTextPath {
    /*filter: drop-shadow(0 1.5px 0 white) drop-shadow(0 -1.5px 0 white) drop-shadow(1.5px 0 0 white) drop-shadow(-1.5px 0 0 white) drop-shadow(0 2px 2px rgba(0,0,0,.5));*/
    font-family:Papyrus,serif;
    font-weight:700;
    letter-spacing:1px;
    paint-order: stroke;
    stroke:#fff;
    stroke-width:2px;
    text-shadow:none;
    user-select: none;
}
.imageSettingsGrid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap:6px;
    margin-bottom: 6px;
    max-width: 400px;
}
@font-face {
    font-family: Papyrus;
    src: url("../fonts/papyrus.eot") format("embedded-opentype"),
         url("../fonts/papyrus.woff2") format("woff2"),
         url("../fonts/papyrus.woff") format("woff"),
         url("../fonts/papyrus.ttf") format("truetype"),
         url("../fonts/papyrus.svg") format("svg");
}
#characterStyledImageDisplay {
    margin-top: 3%;
    max-width: 200px;
    max-height: 200px;
}
#tokenBackground{
    max-width: 200px;
    max-height: 200px;
}
.characterImageRow{
    display:flex;
    flex-flow:row;
}
@media only screen and (max-width:600px){
    .characterImageRow{flex-flow:column;}
}