[role="alertdialog"],
[role="dialog"] {
    box-sizing: border-box;
    background: radial-gradient(farthest-corner at 50% 35%, black, rgba(0,0,0,0.4), black);
    position:absolute;
    left:0;
    top:0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index:2;
}
[role="alertdialog"]::before,
[role="dialog"]::before {
    content:'';
    flex: 1 1 0;
}
[role="alertdialog"]::after,
[role="dialog"]::after {
    content:'';
    flex: 2 2 0;
}
.dialogBox {
    flex: 0 1 auto;
    background: #222;
    padding: 1rem;
    border: 1px solid #3977FF;
    box-shadow: 0px 2px 4px 0px #3977FF;
    display:flex;
    flex-flow:column;
    max-width:90vw;
    max-height: 70vh;
    overflow:auto;
}
.dialogBox > * {
    margin-block-end: 1em;
}
.dialogBox > *:last-child {
    margin-block-end: 0;
}
.dialogBox > p, .dialogBox > pre {
    margin-block-start: 0;
}
.dialogBox > pre {
    background: #333;
    border: 1px solid #666;
    padding: 3px;
    max-height: 300px;
    overflow:auto;
}
.dialogBtnGroup {
    display:flex;
    flex-flow: row;
    align-self: stretch;
}
.dialogBtnGroup > button {
    flex:1;
}
.dialogBtnGroup:empty {
    display: none;
}
.shareDlgList{
    display: grid;
    grid-template-columns: 1fr auto;
    max-height: 50vh;
    max-width: 90vw;
    overflow-x:hidden;
    overflow-y:auto;
    border: 1px solid #333;
    padding:6px;
    gap: 6px;
}
.shareDlgList > button {
    font-weight: normal;
    padding: 0px 6px;
}
.openDlgList{
    display: flex;
    flex-flow: column nowrap;
    max-height: 50vh;
    max-width: 90vw;
    overflow-x:hidden;
    overflow-y:auto;
    align-content: stretch;
    border: 1px solid #333;
    padding:6px;
}
.openDlgList > button {
    text-align: left;
    padding: 2px 6px;
    font-weight: normal;
    min-height: 24px;
    overflow:hidden;
    white-space: nowrap;
}
.openDlgList > button:focus {
    border: 1px solid #3977FF;
}
.openDlgList > button:hover,
.openDlgList > button:focus-visible
 {
    border: 1px solid #3977FF;
    background:#3977FF;
}
.openDlgList > p {
    margin:6px;
}
.openDlgList > p:nth-child(1) {
    margin-top:0px;
}
.openSharedList {
    display: grid;
    grid-template-columns: 1fr auto auto;
}
.spinner {
    flex: 0 0 auto;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #666;
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2.618s linear infinite;
    -webkit-animation: spin 2.618s linear infinite;
    margin-bottom: 1em;
    align-self: center;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
ul.spinnerMessages {
    flex: 0 1 auto;
    overflow: auto;
    display:flex;
    flex-flow: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    font-size:12px;
}
ul.spinnerMessages > li {
    margin:3px 6px;
    text-align: left;
}
/* added to the body when a dialog is open */
.hasDialog {
    overflow:hidden;
}


.importOfficialList {
    overflow-x:hidden;
    overflow-y:auto;
    border: 1px solid #666;
    padding:6px;
    width:50vw;
}
.importOfficialList button {
    font-weight: normal;
    margin: 0 6px 6px 0;
}
.importOfficialList button:focus {
    border: 1px solid #3977FF;
}
.importOfficialList button:hover,
.importOfficialList button:focus-visible
 {
    border: 1px solid #3977FF;
    background:#3977FF;
}