li[draggable="true"]{
    cursor: grab;
    border: 0px solid #222;
    position:relative;
}
li[draggable="true"]::before{
    content: '';
    background: #3977FF;
    position: absolute;
    left:0;
    right:0;
    top:-3px;
    height:0px;
    pointer-events: none;
    z-index:1;
}
li[draggable="true"]::after{
    content: '';
    background: #3977FF;
    position: absolute;
    left:0;
    right:0;
    bottom:-3px;
    height:0px;
    pointer-events: none;
    z-index:1;
}
.dragging {
    overflow:hidden;
}
.dropBefore {
    border-top: 12px solid #3977FF;
}
.dropAfter {
    border-bottom: 12px solid #3977FF;
}
.dropBefore::before {
    height:6px !important;
}
.dropAfter::after {
    height:6px !important;
}