#characterPane {
    position:unset;
}
#characterListContainer {
    position:unset;
    overflow-y: unset;
}
#mobileHamburger {
    font-size:20px;
    border:none;
}
.characterListItem::after, .nightOrderItem::before{
    content:none;
}
.characterListThumbnail {
    max-width: 85px;
    max-height: 85px;
    top: calc(50% - 32px);
    left: calc(50% - 55px);
}
.characterListItemSelected > .characterListThumbnail {
    opacity: 0.5 !important;
}
.characterListItem:hover > .characterListThumbnail
, .characterListItem:focus-visible > .characterListThumbnail {
    opacity: 0.75 !important;
}
.nightOrderItem button {
    margin-right:0;
}
.space{height:64px;}

@media only screen and (max-width:500px){

    #characterListContainer {
        position: unset;
        overflow-y:auto;
    }
    .characterListName {
        text-align: left;
    }
    #menu > div:last-child {
        margin-right: 0px;
    }
    #metaLogoDisplay {
        max-width: 100%;
        max-height: 200px;
    }
    .characterListItem > input[type="checkbox"] {
        display: none;
    }
    .characterListItemSelected > .characterListName {
        transform: scale(1.1);
    }
    .tabButton, .selectedTabBtn, .selectedTabBtn:hover, .selectedTabBtn:focus, .selectedTabBtn:focus-visible {
        font-weight: normal;
        padding:3px 2px 6px 2px;
    }
    button {
        letter-spacing:0;
    }
    .nightOrderReminder{display:none;}
    .nightOrderName {flex: 1 1 auto;}
}
