.nightOrderList {
    margin: 0;
    padding: 0;
    display:flex;
    flex-flow: column nowrap;
    list-style: none;
    user-select: none;
}
.nightOrderList::after {
    content:'';
    height:12px;
    pointer-events: none;
}
.nightOrderItem {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 0 6px;
    border:2px solid #222;
    align-items: center;
    overflow:hidden;
    position: relative;
}
.nightOrderItem:hover, .nightOrderItem:focus {
    border-color: #eee;
}
.nightOrderItem > * {
    flex: 0 0 auto;
}
.ordinal {
    text-align: center;
    min-width:36px;
}
.nightOrderItem::before{
    content: '∙';
    padding: 0 11px 0 6px;
    text-shadow:
        -5px -5px 0 #eee, 0px -5px 0 #eee, 5px -5px 0 #eee,
        -5px 0px 0 #eee, 5px 0px 0 #eee,
        -5px 5px 0 #eee, 0px 5px 0 #eee, 5px 5px 0 #eee;
    font-size:20px;
}
.nightOrderName {
    width:100px;
}
.nightOrderReminder {
    flex: 1 1 auto;
}
.nightOrderThumbnail{
    position:unset;
    width: 31px;
    max-height: 31px;
    margin: -10px 2px -15px 0;
}
.nightOrderItem button {
    background:none;
    border:none;
}
.nightOrderItem button
, .nightOrderItem:hover button
, .nightOrderItem:focus-visible button {
    border:none;
}
.nightOrderItem button:hover
, .nightOrderItem button:focus
, .nightOrderItem button:focus-visible {
    background: #3977FF;
}