#tabs {
    flex: 4;
    display: flex;
    flex-flow: column nowrap;
    overflow:hidden;
}
/*div that scrolls for tab content*/
#tabHolder {
    flex: 1 1 0;
    overflow:auto;
    display:flex;
    flex-flow: column nowrap;
}
#tabBar {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom:3px;
}
.tabButton {
    margin: 0;
    padding: 3px 6px 6px 6px;
    background:none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #666;
}
.tabButton:hover, .tabButton:focus-visible {
    background:#333;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #3977FF;
}
.selectedTabBtn, .selectedTabBtn:hover, .selectedTabBtn:focus, .selectedTabBtn:focus-visible {
    background:#333;
    padding-top: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 4px solid #3977FF;
}
.separator {
    margin:6px;
    padding:1px;
    background:#666;
}
.tab {
    display:none;
    margin-right: 6px;
    flex-flow: column nowrap;
}
.activeTab {
    display:flex;
}